@use "../../styles/_mixins";
@use "../../styles/_vars";

.input {
  color: vars.$blue;
  border: none;
  background: vars.$white;
  padding: 0 1.5rem;
  outline: none;
  @include mixins.box(100%, 1.5re);
  font-size: 1;
  &Wrapper {
    border: 1px solid vars.$ghost;
    height: 3rem;
    border-radius: 1.5rem;
    overflow: hidden;
    transition: box-shadow 0.15s ease-in-out, border 0.15s ease-in-out;
    position: relative;
    &:focus-within {
      border-color: vars.$blue;
      box-shadow: 0 0 0.5rem 0 vars.$blue;
    }
  }
}
.button {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  @include mixins.box(2rem, 50%);
  display: flex;
  background-color: transparent;
  border: none;
  outline: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.35s ease-in-out;
  &:focus {
    border: none;
    outline: none;
  }
  &:hover {
    background-color: vars.$surface;
  }
  .icon {
    color: vars.$gray;
    fill: vars.$gray;
    transition: transform 0.35s ease-in-out;
  }
  &.open {
    .icon {
      transform: rotateX(180deg);
    }
  }
}
