@use "../../styles/_vars";

.option {
  background-color: vars.$white;
  cursor: pointer;
  button {
    background-color: unset;
    outline: none;
    border: none;
    color: vars.$gray;
    width: 100%;
  }
}

.selected {
  background: vars.$lightblue;
  button {
    color: vars.$blue;
  }
}
