@import './_vars';

.option {
    background-color: $white;
    cursor: pointer;
    button {
        background-color: unset;
        outline: none;
        border: none;
        color: $gray;
        width: 100%;
    }
}

.selected {
    background: $lightblue;
    button {
        color: $blue;
    }
}